<!DOCTYPE html>
<html>

<head>
    <title>Photon</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="./css/photon.css" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css" />

</head>

<body>
    <!-- Wrap your entire app inside .window -->
    <div class="window" id="app">
        <!-- .toolbar-header sits at the top of your app -->
        <header class="toolbar toolbar-header">
            <div class="toolbar-actions">
                <div class="btn-group">
                    <button class="btn btn-default" v-for="m in menu" :name="m.name">
                        <span class="icon icon-home"></span>
                    </button>
                    <!-- <button class="btn btn-default">
                        <span class="icon icon-folder"></span>
                    </button> -->
                    <!-- <button class="btn btn-default active">
                    <span class="icon icon-cloud"></span>
                    </button>
                    <button class="btn btn-default">
                    <span class="icon icon-popup"></span>
                    </button>
                    <button class="btn btn-default">
                    <span class="icon icon-shuffle"></span>
                    </button> -->
                </div>

                <!-- <button class="btn btn-default">
                    <span class="icon icon-home icon-text"></span>
                    Filters
                </button>

                <button class="btn btn-default btn-dropdown pull-right">
                    <span class="icon icon-megaphone"></span>
                </button> -->
            </div>
        </header>

        <!-- Your app's content goes inside .window-content -->
        <div class="window-content">
            <div class="container-fluid">
                <h1>{{ message }}</h1>
                <div class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        v-model="searchText">
                    <button class="btn btn-outline-success" v-on:click="searchCustomer">Search</button>
                </div>
                <ul class="list-group">
                    <div class="card" v-for="customer in customers" :name="customer.name">
                        <div class="card-header">{{ customer.name }}</div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">
                                With supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</body>
<!-- Electron Javascript -->
<!-- <script src="app.js" charset="utf-8"></script> -->
<script src="./js/vue.min.js"></script>
<script src="./js/app.js" charset="utf-8"></script>

</html>